.body{
    margin: 100px;
    margin-top: 25px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
  }

  button{
    font-size: medium;
  }
  .carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 400px;
  }
  .carousel-caption hr{
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  } .carousel-caption h3, p{
    color: white;
  }

  .contact100-form-btn{
    background-color: rgb(91, 150, 91);
    width: 70px;
  }