<div class="row mt-4">
    <div class="col"></div>
    <div class="col-8 bg-light rounded-3">
        <form [formGroup] = "form" (submit)="enviarData()">

            <div class="mb-3 row">
                <div class="col-sm-2"></div>
                <h4 class="col-sm-10">{{titulo | uppercase}}</h4>
            </div>

        
            <input formControlName="idCalificacion" hidden type="text" class="form-control" id="inputidExpe">
            
            <div class="row mb-3">
                <label for="inputPuntuacion" class="col-sm-2 col-form-label">Puntuacion</label>
                <div class="col-sm-10">
                    <input formControlName="puntuacion" type="number" class="form-control" id="inputNombre">
                </div>
            </div>

            <div class="row mb-3">
                <label for="inputComentario" class="col-sm-2 col-form-label">Comentario</label>
                <div class="col-sm-10">
                    <textarea formControlName="tour" class="form-control" id="inputComentario"
                        rows="3"></textarea>
                </div>
            </div>

            <div class="row mb-3">
                <label for="inputTour" class="col-sm-2 col-form-label">Tour</label>
                <div class="col-sm-10">
                    <input formControlName="puntuacion" type="number" class="form-control" id="inputTour">                    

                </div>
            </div>

            <div class="row mb-3">
                <label for="inputUsuario" class="col-sm-2 col-form-label">Usuario</label>
                <div class="col-sm-10">
                    <input formControlName="usuario" type="number" class="form-control" id="inputUsuario">
                </div>
            </div>
            
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="submit">{{boton | uppercase}}</button>
                <div class="col-sm-3"></div>
            </div>
            <br>

        </form>
    </div>
    <div class="col"></div>
</div>
