<body>
  <div class="container-contact100">
    <div class="wrap-contact100">

      <form [formGroup]="form" (submit)="enviarData()" class="contact100-form validate-form">
        <span class="contact100-form-title">
          <h4 class="col-sm-10">{{titulo | uppercase}}</h4>
        </span>
        <hr style="color: rgb(5, 168, 5);">

        <input formControlName="idSeguro" hidden type="text" class="form-control" id="inputSeguro">

        <div class="wrap-input100 validate-input" data-validate="Por favor ingrese el nombre completo">
          <span class="contact100-form-combo">Nombre de seguro</span>
          <input formControlName="nombre" class="input100 form-control" type="text" placeholder="Nombre del seguro"
            id="inputNombre" [class.is-invalid]="form.controls.nombre.status!='VALID'"
            [class.is-valid]="form.controls.nombre.status=='VALID'">
          <span class="focus-input100"></span>
          <div class="invalid-feedback" style="text-align: center;">
            Ingresa el nombre del seguro con min 3 y maximo 25 caracteres
          </div>
        </div>


        <div class="wrap-input100" [formGroup]="form">
          <span class="contact100-form-combo">Estado del seguro</span>
          <select formControlName="estado" aria-label="Default select example"
            [class.is-invalid]="form.controls.estado.status=='INVALID'"
            [class.is-valid]="form.controls.estado.status=='VALID'" class="form-control input100"
            placeholder="estado">
            <option value="false">INACTVO</option>
            <option value="true">ACTIVO</option>
          </select>
          <div class="invalid-feedback" style="text-align: center;">
            Selecciona un estado
          </div>
        </div>

        <div class="wrap-input100 validate-input">
          <span class="contact100-form-combo">Descripcion</span>
          <textarea formControlName="descripcion" class="input100 form-control" placeholder="Descripcion del seguro"
            id="inputDescripcion" [class.is-invalid]="form.controls.descripcion.status!='VALID'"
            [class.is-valid]="form.controls.descripcion.status=='VALID'"></textarea>
          <span class="focus-input100"></span>
          <div class="invalid-feedback" style="text-align: center;">
            Ingresa una Descripcion con un maximo de 500 caracteres
        </div>
        </div>

        <div class="wrap-input100 validate-input">
          <span class="contact100-form-combo">Precio</span>
          <input formControlName="precio" class="input100 form-control" type="number" placeholder="Precio"
            id="inputPrecio" [class.is-invalid]="form.controls.precio.status!='VALID'"
            [class.is-valid]="form.controls.precio.status=='VALID'">
          <span class="focus-input100"></span>
          <div class="invalid-feedback" style="text-align: center;">
            Ingresa un precio mayor a 10Mil
          </div>
        </div>


        <!-- <div class="wrap-input100">
          <span class="contact100-form-combo"> Empresa</span>
          <select formControlName="empresa" class="input100 form-control" aria-label="Default select example"
            class="input100" placeholder="empresa" [class.is-invalid]="form.controls.empresa.status!='VALID'"
            [class.is-valid]="form.controls.empresa.status=='VALID'">
            <option *ngFor="let empresa of empresas" name="empresa" id="emp{{empresa.idEmpresa}}"
              value={{empresa.idEmpresa}}>
              {{empresa.nombre}}</option>
          </select>
        </div> -->

        <div class="wrap-input100" [formGroup]="form">
          <span class="contact100-form-combo">Empresa</span>
          <select formControlName="empresa" aria-label="Default select example"
            [class.is-invalid]="form.controls.empresa.status=='INVALID'"
            [class.is-valid]="form.controls.empresa.status=='VALID'" class="form-control input100"
            placeholder="empresa">
            <option *ngFor="let empresa of empresas" name="empresa" id="emp{{empresa.idEmpresa}}"
              value={{empresa.idEmpresa}}>
              {{empresa.nombre}}</option>
          </select>
          <div class="invalid-feedback" style="text-align: center;">
            Seleccione el nombre de la empresa
          </div>
        </div>

        <hr style="color: rgb(5, 168, 5);">
        <div class="container-contact100-form-btn">
          <button class="contact100-form-btn" type="submit">{{boton | uppercase}}</button>
        </div>
      </form>
    </div>
  </div>
</body>