<body>
    <div class="container-contact100">
        <div class="wrap-contact100">

            <form [formGroup]="form" (submit)="enviarData()" class="contact100-form validate-form">
                <span class="contact100-form-title">
          <h4 class="col-sm-10">{{titulo | uppercase}}</h4>
        </span>
                <hr style="color: rgb(5, 168, 5);">

                <input formControlName="idActividad" hidden type="text" [class.is-invalid]="form.controls.idActividad.status=='INVALID'" [class.is-valid]="form.controls.idActividad.status=='VALID'" class="form-control input100" class="form-control" id="inputidAct">

                <div class="wrap-input100 validate-input" data-validate="Por favor ingrese el nombre completo">
                    <span class="contact100-form-combo">Nombre de la actividad</span>
                    <input formControlName="nombre" 
                    [class.is-invalid]="form.controls.nombre.status=='INVALID'" 
                    [class.is-valid]="form.controls.nombre.status=='VALID'" class="form-control input100" type="text" placeholder="Nombre de la actividad" id="inputNombre">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100">
                    <span class="contact100-form-combo">Estado de la actividad</span>
                    <select 
                    [class.is-invalid]="form.controls.estado.status=='INVALID'" 
                    [class.is-valid]="form.controls.estado.status=='VALID'" 
                    formControlName="estado" type="text" class="form-control input100" id="inputEstado" placeholder="Estado">
                        <option class="select-options" value="false">INACTVO</option>
                        <option class="select-options" value="true">ACTIVO</option>
                    </select>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Por favor ingrese su descripcion">
                    <span class="contact100-form-combo">Descripcion</span>
                    <textarea formControlName="descripcion" class="input100 form-control" placeholder="Descripcion de la actividad" id="inputDescripcion"></textarea>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Por favor ingrese el nombre completo">
                    <span class="contact100-form-combo"> Imagen</span>
                    <input formControlName="urlImg" class="input100" type="text" placeholder="Imagen relacionada a la actividad" id="inputImagen">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100">
                    <span class="contact100-form-combo"> Paquete</span>
                    <select formControlName="paquete" [class.is-invalid]="form.controls.paquete.status=='INVALID'" [class.is-valid]="form.controls.paquete.status=='VALID'" class="form-control input100"  aria-label="Default select example" 
                        placeholder="paquete">
            <option *ngFor="let paquete of paquetes" name="paquete" id="paquete{{paquete.idPaq}}"
              value={{paquete.idPaq}}>
              {{paquete.nombre}} </option>
          </select>
                </div>


                <hr style="color: rgb(5, 168, 5);">
                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn" type="submit">{{boton | uppercase}}</button>
                </div>
            </form>
        </div>
    </div>
</body>