.img-maleta{
    text-align: left;
    margin-right: 80px;
}

.img-maleta img{
    width: 150px;
}

.contenedor{
    background-color: #fff;
    margin: 10px;
    border-radius: 10px;
}

.titulo h5{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.table {
    text-align: center;
    
    
}
