<br>

<div class="container-contacts" >
    
    <div class="row bloq-1">
        <h1>Contáctanos</h1>
        <br><hr style="width: 500px; color: green; height: 3px;">
    </div>
    
   <div class="row">
    <div class="bloq-1">

        <h3>Siguenos a través de nuestras redes sociales</h3>
        
        <div class="icons" >
            
            <a href="http://www.facebook.com"><img src="../../../../assets/img/facebook.png" alt=""></a>
            <a href="http://www.instagram.com"><img src="../../../../assets/img/instagram.png" alt=""></a> 
            <a href="http://www.twitter.com"><img src="../../../../assets/img/twitter.png" alt=""></a> 
            <a href="http://www.youtube.com"><img src="../../../../assets/img/youtube.png" alt=""> </a> 
                               
        </div>
        

        <br><h3><i class="fas fa-phone-alt" style="text-align: left; font-size: 19px;"></i> LLámanos</h3>

        <ul>
            
            <li>{{ tel }} </li>            
            
        </ul>

        <br><h3><i class="fas fa-envelope" style="text-align: left; font-size: 20px;"></i> Escribenos al correo</h3>
        <h4>{{ email }}</h4>

    </div>

    <div class="bloq-2">

        <img src="../../../../assets/img/LOGO-01-CONTC.png" alt="">

    </div>
</div>
</div>
