
<header class="header">
  <div class="menu margen-interno">
    <div class="logo">
      <a href="#">
        <img src="../../../assets/img/LOGO-01.png" alt="" width="60px"
      /></a>
    </div>
    <div class="nav">

      <a routerLink="/inicio">
        <span class="off">Inicio </span>
        <i class="fas fa-home"></i>
        </a>

      <a routerLink="/destinos">
        <span class="off">Destinos </span>
        <i class="fas fa-road"></i>
        </a>

      
      <a nz-dropdown [nzDropdownMenu]="tours">
        <span>Tours </span>
        <i class="fas fa-globe-americas"></i>
      </a>
      <nz-dropdown-menu #tours="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item><a routerLink="/pasadia">Pasadia</a></li>
          <li nz-menu-item><a routerLink="/estadia">Estadia</a></li>
        </ul>
      </nz-dropdown-menu>

      <a routerLink="/contacto">
        <span class="off">Contacto </span>
        <i class="fas fa-phone"></i>
      </a>

      <a nz-dropdown [nzDropdownMenu]="menu">
        Ver mas
        <i class="fas fa-chevron-circle-down"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>
            <a routerLink="/viajesGrupales">Viajes Personalizados</a>
          </li>
          <li nz-menu-item><a routerLink="/festividades">Festividades</a></li>
          <li nz-menu-item>
            <a routerLink="/recomendaciones">Recomendaciones</a>
          </li>
        </ul>
        
      </nz-dropdown-menu>

      <a *ngIf="isAdmin && isLogged" style="margin-left: 20px;" routerLink="/administracion/reportes">
        <i class="fas fa-concierge-bell"></i>
        <span class="off">Admin</span></a>

        <a nz-dropdown [nzDropdownMenu]="menuser" *ngIf="isLogged">
          <img src="https://raw.githubusercontent.com/SantiagoAndresSerrano/img-soka/master/Group%20(1).png" style="width: 40px; height: auto;" alt="">
        </a>
        <nz-dropdown-menu #menuser="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>
              <a routerLink="/misViajes">Mis viajes</a>
            </li>
            <li nz-menu-item><a routerLink="/misCompras">Mis Compras</a></li>
            <li nz-menu-item><a routerLink="/misReservas">Mis reservas</a></li>
          </ul>
        </nz-dropdown-menu>    
    </div>
    <div class="social text-right">
      <a href="" *ngIf="!isLogged" routerLink="/login"
        ><i class="fas fa-sign-in-alt" style="margin-right: 5px;"></i><span class="off">Inicio Sesión</span></a
      >
      <a href="" *ngIf="!isLogged" routerLink="/registro"
        ><i class="fas fa-cash-register" style="margin-right: 5px;"></i><span class="off">Registarse</span></a
      >
      <a style="display: none;" id="bienvenido" href="" 
        ><i class="fab fa-weixin"></i><span class="off" id="nombreUser">Bienvenido</span></a
      >
      <a href="" (click)="onLogOut()" *ngIf="isLogged" 
        ><i class="fab fa-weixin"></i><span class="off">Cerrar Sesión</span></a>
    </div>

  
  </div>
  
</header>
