<div class="container-contact100">
    <div class="wrap-contact100">

        <form [formGroup]="form" (submit)="enviarData()" class="contact100-form validate-form">
            <span class="contact100-form-title">
                <h4 class="col-sm-10">Editar Paquete</h4>
            </span>
            <hr style="color: rgb(5, 168, 5);">

            <input formControlName="idPaq" hidden type="number" class="form-control" id="inputPaq">


            <div class="wrap-input100" data-validate="Por favor ingrese el nombre completo">
                <span class="contact100-form-combo">Nombre del paquete</span>
                <input formControlName="nombre" class="input100 form-control" type="text" placeholder="Nombre del paquete"
                    id="inputNombre" 
                    [class.is-invalid]="form.controls.nombre.status!='VALID'"
                    [class.is-valid]="form.controls.nombre.status=='VALID'">
                <span class="focus-input100"></span>
            </div>
            
            <div class="wrap-input100">
                <span class="contact100-form-combo">Estado del paquete</span>
                <select formControlName="estado" type="text" class="form-control" id="inputEstado" 
                    placeholder="Estado">
                    <option value="INACTIVO">INACTVO</option>
                    <option value="ACTIVO">ACTIVO</option>
                </select>
            </div>

            <div class="wrap-input100">
                <span class="contact100-form-combo">Precio</span>
                <input formControlName="precio" type="number" class="input100 form-control" id="inputPrecio" 
                    placeholder="Precio"
                    [class.is-invalid]="form.controls.precio.status!='VALID'"
                    [class.is-valid]="form.controls.precio.status=='VALID'">
                    <span class="focus-input100"></span>
            </div>

            <!-- <div class="wrap-input100">
                <span class="contact100-form-combo">Estado del paquete</span>
                <select formControlName="estado" type="text" class="form-control" id="inputEstado" class="input100"
                    placeholder="Estado">
                    <option value="INACTVO">INACTVO</option>
                    <option value="ACTIVO">ACTIVO</option>
                </select>
            </div> -->
            <div class="wrap-input100" data-validate="Por favor ingrese su descripcion">
                <span class="contact100-form-combo">Descripcion</span>
                <textarea formControlName="descripcion" class="input100 form-control" placeholder="Descripcion del paquete"
                    id="inputDescripcion"
                    [class.is-invalid]="form.controls.descripcion.status!='VALID'"
                    [class.is-valid]="form.controls.descripcion.status=='VALID'"></textarea>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100">
                <span class="contact100-form-combo">Recomendacion</span>
                <input formControlName="recomendacion" class="input100 form-control" type="text" placeholder="Recomendacion"
                    id="inputRecomendacion"
                    [class.is-invalid]="form.controls.recomendacion.status!='VALID'"
                    [class.is-valid]="form.controls.recomendacion.status=='VALID'">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100">
                <span class="contact100-form-combo">Imagen Paquete</span>
                <input formControlName="urlImagen" class="input100 form-control" placeholder="Imagen" id="inputImage"
                [class.is-invalid]="form.controls.urlImagen.status!='VALID'"
                [class.is-valid]="form.controls.urlImagen.status=='VALID'">
                <span class="focus-input100"></span>
            </div>



            <div class="wrap-input100" [formGroup]="form">
                <span class="contact100-form-combo">Alojamiento</span>
                <select formControlName="alojamiento" class="input100" type="text" id="inputAlojamiento">
                    <option *ngFor="let alojamiento of alojamientos" name="alojamiento"
                        id="aloj{{alojamiento.idAlojamiento}}" value={{alojamiento.idAlojamiento}}>
                        {{alojamiento.nombre}}</option>
                </select>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100" [formGroup]="form">
                <span class="contact100-form-combo">Municipio</span>
                <select formControlName="municipio" class="input100 form-control" type="text" id="inputMunicipio" 
                [class.is-invalid]="form.controls.municipio.status!='VALID'"
                    [class.is-valid]="form.controls.municipio.status=='VALID'">
                    <option *ngFor="let municipio of municipios" name="municipio" id="muni{{municipio.idMuni}}"
                        value={{municipio.idMuni}}>
                        {{municipio.nombre}}</option>
                </select>
                <span class="focus-input100"></span>
            </div>

            <hr style="color: rgb(5, 168, 5);">
            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn" type="submit">Editar</button>
            </div>
        </form>
    </div>
</div>