
<div class="container" style="margin-bottom: 25px;">
  <h2 style="text-align: center; font-weight: bold">Servicios de interés</h2> <br>
  <h4 style="text-align: center">Conoce un poco más de nuestra empresa</h4>

  <hr style="color: green; height: 3px;">

  <div class="contenedor" >

  
    <!-- <div class="card">
      <img src="../../../../assets/img/deporte-extremo-4.jpg" alt="" />
      <h4>Nuestros aliados</h4>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
        adipisci, voluptas esse unde nesciunt, quis est ut nihil rerum quidem,
        natus aliquam reprehenderit consectetur commodi molestiae cum totam.
        Voluptatem, officia!
      </p>
      <a routerLink="/nuestrosAliados" style="background-color: red; color: white;">Leer mas</a>
    </div> -->
  
    <!-- <div class="card">
      <img src="../../../../assets/img/deporte-extremo-4.jpg" alt="" />
      <h4>Tour del mes</h4>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
        adipisci, voluptas esse unde nesciunt, quis est ut nihil rerum quidem,
        natus aliquam reprehenderit consectetur commodi molestiae cum totam.
        Voluptatem, officia!
      </p>
      <a routerLink="/toursDelMes" style="background-color: red; color: white;">Leer mas</a>
    </div> -->

    <div class="card">
      <div class="image-container">
        <img class="image" src="../../../../assets/img/transporte-y-hospedaje-1.png" alt="" >
     </div>
       
       <svg class="svg" viewBox="0 0 800 500">
 
         <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" estroke="transparent" fill="#333"/>
         <path class="line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
       </svg>
     
      <div class="content">
        <h4 class="title">Nuestros aliados</h4>
      <p>Da click en "Leer más" y conoce las empresas de transporte y seguro con las cueles tenemos convenios. 
      </p>
      <div style="padding-top: 24px;">
        <a routerLink="/nuestrosAliados" >Leer mas</a>
      </div>
     </div>
   </div>

   <div class="card">
    <div class="image-container">
      <img class="image" src="../../../../assets/img/montania-1.png" alt="" >
   </div>
     
     <svg class="svg" viewBox="0 0 800 500">

       <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
       <path class="line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
     </svg>
   
    <div class="content">
      <h4 class="title">Tour del mes</h4>
    <p>Da click en "leer más" y conoce nuestros 3 tours más vendidos del mes. 
    </p>
    <div style="padding-top: 50px;">
      <a routerLink="/toursDelMes" >Leer mas</a>
    </div>
   </div>
 </div>

  </div>
</div>

  


