<div class="container-fluid" style="margin-top: 25px;">
    <h1 style="text-align: center;">Tours del mes</h1> <br>
    <h4 style="text-align: center">En esta sección se presentan los tours más demandados en el mes.</h4>
    <hr style="color: rgb(9, 156, 28); height: 3px;">

<div class="container" style="background-color: white;">
    <div class="col-md-3" style="margin: 20px; padding: 0;">
        <div class="card-sl" >
            <div class="card-image">
                <img style="height:175px; width: 100%; height: 250px;" src="{{data.paquete.urlImagen}}" />
            </div>
            <div class="card-heading" align='center'>
                {{data.paquete.nombre}}
                <!-- <hr style="color: rgb(5, 73, 5); height: 2px;"> -->
                <hr style="color: rgb(0, 146, 31); height: 1px;">
            </div>
            <a routerLink="/rutas"  class="card-button"> Ver más </a>
        </div>
    </div>
    </div>
</div>

<!-- 
<div class="container">
    
</div> -->
