<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <div class="card-box bg-blue">
        <div class="inner">
          <h4>13436</h4>
          <p>Student Strength</p>
        </div>
        <div class="icon">
          <i class="fab fa-accusoft"></i>
        </div>
        <a href="../../../../assets/img/viaje.jpg" class="card-box-footer"
          >View More <i class="fa fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6">
      <div class="card-box bg-green">
        <div class="inner">
          <h3>₹185358</h3>
          <p>Today’s Collection</p>
        </div>
        <div class="icon">
          <i class="far fa-money-bill-alt"></i>
        </div>
        <a href="#" class="card-box-footer"
          >View More <i class="fa fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card-box bg-orange">
        <div class="inner">
          <h3>5464</h3>
          <p>New Admissions</p>
        </div>
        <div class="icon">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
        </div>
        <a href="#" class="card-box-footer"
          >View More <i class="fa fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card-box bg-red">
        <div class="inner">
          <h3>723</h3>
          <p>Faculty Strength</p>
        </div>
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <a href="#" class="card-box-footer"
          >View More <i class="fa fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid row">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus magni dolorem eos praesentium, tempora nisi similique, consequuntur esse voluptate, impedit consectetur! Libero debitis quam ex quibusdam voluptas nisi, nam quos.
    Illum, consequuntur. Libero aliquid, qui accusamus, reprehenderit suscipit doloremque animi ipsam est rerum sed perferendis dolorem perspiciatis velit nihil voluptas quaerat expedita labore a numquam pariatur? Blanditiis, beatae? Quibusdam, eius?
      </p>
</div>
