<div class="quienes-somos container">
  <div class="row" style="text-align: center">
    <h2>¿Quiénes Somos?</h2> <br><br>
    <div class="text-center"><hr style="width: 80%; margin: 0 auto;"></div>
    

    <p style="padding-left: 80px; padding-right: 80px; margin-bottom: 20px;">
      Somos una empresa enfocada en el diseño y el desarrollo web ubicada en la ciudad de Cúcuta,
      contamos con un equipo vibrante y energético con mucho talento creativo con el cual te garantizamos
      los más altos estándares de calidad, tenemos más de 5 años de experiencia en el campo del desarrollo
      web por lo que podemos ajustarnos a tus necesidades sin problemas.
    </p>
  </div>

  <div class="row info">
    <div class="item col-lg-5 col-sm-12">
      <div class="img d-flex" style="justify-content: center; align-items: center; width: 100%; height: 100%;">
        <img src="../../../../assets/img/LOGO-01.png" width="70%" alt="NortExploradores" />
      </div>
    </div>

  <div class=" center item col-lg-7 col-sm-12">
    <div class="row">
      <div class="card col-lg-6 col-sm-12">
        <h2>Misión</h2>
        <hr />
        <p id="mision">
        </p>
      </div>

      <div class="card col-lg-6 col-sm-12">
        <h2>Visión</h2>
        <hr />
        <p id="mision2">
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="item col-lg-7 col-sm-12">
      <div class="row">
        <div class="card col-lg-6 col-sm-12">
          <h3 style="color: steelblue">Misión</h3>
          <p id="mision">
          </p>
        </div> -->

</div>