<div class="container">
    <h1 style="text-align: center;">Festividades</h1>

    <div class="tarjetas">
        <div class="mes">
            <div class="img"
                style="background-image: url('../../../../assets/img/Cacota_Plaza_norte-de-santander_2.jpg');">

            </div>
            <div class="contenido">
                <h2 style="text-align: center;">Enero</h2>
                <ul>
                    <li>Bochalema: Ferias y fiestas la Milagrosa y Reinado departamental del turismo</li>
                    <li>Durania: Festival de la ensaladilla</li>
                    <li>Ocaña: Carnavales</li>
                    <li>Pamplona: Celebración honor Niño huerfanito</li>
                </ul>
            </div>
        </div>

        <div class="mes">
            <div class="img" style="background-image: url('../../../../assets/img/cacota.jpg');">

            </div>
            <div class="contenido">
                <h2 style="text-align: center;">Febrero</h2>
                <ul>
                    <li>Cúcuta: Conmemoración historica de la batalla de Cúcuta</li>
                    <li>Labateca: Ferias y fiestas del municipio de honor a la virgen nuestra señora de las angustias
                    </li>
                    <!-- <li>Lourdes: Nuestra señora de Lourdes</li> -->
                    <li>Silos: Ferias y fistas en honor a la patrona, la virgen de la candelaria , fiesta de la cacica y
                        celebración Santo Domingo</li>
                </ul>
            </div>
        </div>

        <div class="mes">
            <div class="img"
                style="background-image: url('../../../../assets/img/los-diez-pueblos-mas-lindos-de-colombia-689498.jpg');">

            </div>
            <div class="contenido">
                <h2 style="text-align: center;">Marzo</h2>
                <ul>
                    <li>Abrego: cumpleaños población</li>
                    <li>Cachira: Cumpleaños fundación del municipio</li>
                    <li>Durania: San Jose patrono del municipio</li>
                    <li>Cúcuta: Celebración patrono del municipio – San jose</li>
                </ul>
            </div>
        </div>

        <div class="mes">
            <div class="img"
                style="background-image: url('../../../../assets/img/Top\ 10\ de\ los\ pueblitos\ más\ bonitos\ de\ Colombia.jpeg');">

            </div>
            <div class="contenido">
                <h2 style="text-align: center;">Abril</h2>
                <ul>
                    <li>La Esperanza: Aniversario municipal</li>
                    <li>Lourdes: Ferias municipales</li>
                    <li>Puerto Santander: Aniversario del municipio</li>
                    <li>Pamplona: Semana Santa , festival de musica sacra, semana santa infantil</li>
                    <li>Cácota: ferias y fiestas en honor a la patrona.</li>
                </ul>
            </div>
        </div>

        <div class="mes">
            <div class="img"
                style="background-image: url('../../../../assets/img/1458574122_753720_1458577427_album_normal.jpg');">

            </div>
            <div class="contenido">
                <h2 style="text-align: center;">Mayo</h2>
                <ul>
                    <li>Abrego: San Isidro Labrador</li>
                    <li>Chitagá: San isidro Labrador</li>
                    <li>Durania: Creación del municipio y celebración de las ferias y fiestas
                    </li>
                    <li>Herran: Aniversario del municipio y celebracion de San Isidro Labrador.
                    </li>
                </ul>
            </div>
        </div>

        <div class="mes">
            <div class="img" style="background-image: url('../../../../assets/img/gettyimages-907663252-900x485.jpg');">

            </div>
            <div class="contenido">
                <h2 style="text-align: center;">Junio</h2>
                <ul>
                    <li> Arboledas: Fiestas a la Santisima Trinidad
                    </li>
                    <li>
                        Ábrego: Aniversario del Municipio.
                    </li>
                    <li>
                        Bachalema: Sagrado Corazón de Jesús.
                    </li>
                    <li>
                        Cácuta: Cumpleaños del Municipio-17 de junio.
                    </li>
                    <li>

                        Chitagá: Fiesta Parroquial San Juan Nepomuceno (3), Fiestas en honor a San Pedro y San Pablo en
                        la Vereda Presidente
                    </li>
                </ul>
            </div>
        </div>

        <div class="mes">
            <div class="img" style="background-image: url('../../../../assets/img/59473798_ml.jpg');">

            </div>
            <div class="contenido">
                <h2 style="text-align: center;">Julio</h2>
                <ul>
                    <li>
                        Bucarasica: Ferias Municipales y Virgen del Carmen.
                    </li>

                    <li>
                        Convención: Nuestra Señora del Carmen y Fiestas Municipales.
                    </li>

                    <li>
                        Cúcuta: Feria de Cúcuta.
                    </li>

                    <li>
                        El Carmen: Ferias y Fiestas en honor a la Patrono la Virgen del Carmen.
                    </li>

                </ul>
            </div>
        </div>

        <div class="mes">
            <div class="img"
                style="background-image: url('../../../../assets/img/los-diez-pueblos-mas-lindos-de-colombia-689335.jpg');">

            </div>
            <div class="contenido">
                <h2 style="text-align: center;">Agosto</h2>
                <ul>
                    <li>
                        Chitagá: Ferias y Fiestas del Municipio en honor a la patrona Virgen del Perpetuo Socorro.

                    </li>

                    <li>

                        Chinácota: Ferias y Fiestas de San Nicolás.
                    </li>

                    <li>

                        El Tarra: Fiestas Patronales.
                    </li>

                    <li>
                        Hacari: Fiestas Patronales en honor a San Cayetano.

                    </li>

                    <li>

                        Ocaña: Festividades en honor a la Patrono la Virgen de Torcoroma.
                    </li>

                </ul>
            </div>
        </div>

        <div class="mes">
            <div class="img" style="background-image: url('../../../../assets/img/6299787.jpg');">

            </div>
            <div class="contenido">
                <h2 style="text-align: center;">Septiembre</h2>
                <ul>
                    <li>
                        Bochalema: Virgen de la Cueva Santa y Festival del silletero.
                    </li>
                    <li>
                        Bucarasica: Nuestra Señora de los Remedios.
                    </li>
                    <li>
                        Cácota: Nuestra Señora de los Dolores – Patrona.
                    </li>
                    <li>
                        Chinácota: Celebración en honor al patrono San Nicolás de Tolentino.
                    </li>
                </ul>
            </div>
        </div>
        <div class="mes">
            <div class="img" style="background-image: url('../../../../assets/img/guatape1-1-01.jpg');">

            </div>
            <div class="contenido">
                <h2 style="text-align: center;">Octubre</h2>
                <ul>
                    <li>
                        Cácota: Cumpleaños del Municipio y Festival Agropecuario (26).

                    </li>
                    <li>
                        El Carmen: Fiestas en honor al Santo Ángel Custodio en Guamalito,

                    </li>
                    <li>
                        Pamplonita: Fiesta de la Virgen del Rosario Patrona del Municipio.

                    </li>
                </ul>
            </div>
        </div>
        <div class="mes">
            <div class="img" style="background-image: url('../../../../assets/img/barichara-santander.jpg');">

            </div>
            <div class="contenido">
                <h2 style="text-align: center;">Noviembre</h2>
                <ul>
                    <li>

                        Bochalema: Celebración en honor a Cristo Rey (20) Chínácota Feria de la fraternidad,
                    </li>
                    <li>
                        Convención: Festival del Retorno,

                    </li>
                    <li>
                        El Tarra: Ferias Municipales.

                    </li>

                    <li>
                        Salazar: Aniversario Municipal.
                    </li>
                    <li>

                        Santiago: Dia de Todos los Santos.
                    </li>
                    <li>
                        Sardinata: Ferias Fiestas en honor a San Martin de Porras

                    </li>


                </ul>
            </div>
        </div>
        <div class="mes">
            <div class="img" style="background-image: url('../../../../assets/img/descarga.jpeg');">

            </div>
            <div class="contenido">
                <h2 style="text-align: center;">Diciembre</h2>
                <ul>
                    <li>
                        Abrego: Ferias y Fiestas en honor a la patrona Santa Barbara.

                    </li>
                    <li>
                        Bochalema: Festival de faroles.

                    </li>
                    <li>
                        Cácota: Aguinaldo Navideño y Festival despedida del año.
                    </li>

                    <li>
                        Cáchira: Fiesta Grande y celebración a la Virgen de las Lajitas.
                    </li>

                    <li>

                        Chitagá: Cumpleaños del municipio.
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>