  /* html, body {

      height: 100%;
    }
    body {
      display: flex;
      flex-direction: column;
    }
    .content {
      flex: 1 0 auto; 
      padding: 20px;
    }
    .footer {
      flex-shrink: 0; 
      padding: 20px;
    }
    
    
    .wrapper {
      min-height: 100%;
      display: grid;
      grid-template-rows: auto 1fr auto;
  }


  .container{

    width: 100%;
    max-width: 1200px;
    display: flex;
    padding: 20px;
    margin: auto;  
    justify-content: space-between; 
    
  }

  .column1{
    max-width: 400px;
    margin: 10px;
  }

  .column1 img{
    width: 250px;
  }

  .column1 p{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
  }

  .column2{
    max-width: 400px;
    margin: 10px;
    
  }

  .column2 .row{
    text-align: center;  
    
  }

  .column2 img{
    width: 125px; 
    
    margin: 10px 0px;
  }

  .column3{
    margin: 10px;
    max-width: 400px;
    
  }

  .column3 .row3{

    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;  

  }

  .column3 .row3 i{
    color: green;
    font-size: 20px;
    padding: 15px;

  }

  .column3 .row3 label{
    font-size: 20px;
    

  }

    
  @media screen and (max-width:1100px) {
    .container{
      width: 90%;
      flex-wrap: wrap;
      padding: 35px 0px;
      justify-content: center;
    }  
  }

  @media screen and (max-width:922px) {
    .container{
      width: 90%;
      flex-direction: column;   
      padding: 35px 0px;
      justify-content: center;
    }  
    .column1{
      max-width: 100%;
      
    }
    .column2{
      max-width: 100%;
      padding: 10px;
    }
    .column3{
      max-width: 100%;
      padding: 10px;
    }
    .column3 .row3{
      text-align: center;
      max-width: 100%;
    }
  }

  @media screen and (max-width:368px) {
    .container{
      width: 90%;
      flex-wrap: wrap;    
      padding: 35px 0px;
      justify-content: center;
    }
    .column3 .row3 label{
      font-size: 18px;    
    }
  }

  @media screen and (max-width:339px) {
    .container{
      width: 90%;
      flex-wrap: wrap;    
      padding: 35px 0px;
      justify-content: center;
    }
    .column3 .row3 label{
      font-size: 16px;    
    }
  }

  .column2 a {
    color: green;
  }

  .column2 i {
    color: green;
  }

  h2{
    color: #fff;  
  }
    
    * {
      box-sizing: border-box;
    }
    body {
      margin: 0;
      font: 16px Sans-Serif;
    }
    h1 {
      color: #fff;
      margin: auto;
      font-size: 30px;
    }
    p {
      margin: 0 0 20px 0;
    }
    footer {
      background: #42A5F5;
      color: white;
    } */

    body {
      font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
    
    h1, h2, h3, h4, h5, h6, small,
    .h1, .h2, .h3, .h4, .h5, .h6 {
      font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
      color:rgb(255, 255, 255);
      font-style: italic;
      font-weight: bold;
    }
      
    a {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      a, a:hover {
        text-decoration: none !important; }
    
    .content {
      height: 70vh; }

    .img-footer{
      width: 200px;
      margin-bottom: 10px;
    }

    .img-footer-emp{
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 100px;
      margin-bottom: 10px;
    }
    .footer-20192 {
     
      margin: 0px;
      margin-top: 90px;
      padding-bottom: 40px;
      position: relative;
      color: #fff;
      /* padding: 7rem 0; */
      background-color: rgb(41, 41, 41); 
      box-shadow: 0 0px 60px 0px rgba(43, 224, 26, 0.4);
      -moz-box-shadow: 0 0px 60px 0px rgba(43, 224, 26, 0.4);
      -webkit-box-shadow: 0 0px 60px 0px rgba(43, 224, 26, 0.4);
      -o-box-shadow: 0 0px 60px 0px rgba(43, 224, 26, 0.4);
      -ms-box-shadow: 0 0px 60px 0px rgba(43, 224, 26, 0.4);}
      
      .footer-20192 .container {
        position: relative; }
      .footer-20192 h3 {
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 0;
        line-height: 1.5; }
      .footer-20192 .links li {
        margin-bottom: 10px;
        line-height: 1.5;
        display: block; }
        .footer-20192 .links li a {
          color: #b6b6b6; }
          .footer-20192 .links li a:hover {
            color: #408d3d; }
      .footer-20192 .social li {
        display: inline-block;
        position: relative; }
        .footer-20192 .social li a {
          position: relative;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: inline-block;
          margin: 0;
          /* padding: 0; */
          background-color: #ffffff;
          color: rgb(59, 59, 59); }
          .footer-20192 .social li a > span {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
      .footer-20192 .footer-logo {
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: .1rem; }
      .footer-20192 .copyright {
        color: #666873; }
      .footer-20192 .cta {
        
        -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
        box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
        padding: 15px;
        background-color: #408d3d;
        top: -30px;
        position: relative; }
        .footer-20192 .cta h2, .footer-20192 .cta h3 {
          line-height: 1.5; }
        .footer-20192 .cta h3 {
          font-size: 20px; }
    